NEXT_PUBLIC_WEBINY_API_URL=https://d366rswf2s5l35.cloudfront.net
NEXT_PUBLIC_WEBINY_CMS_READ_API_URL=https://d366rswf2s5l35.cloudfront.net/cms/read
NEXT_PUBLIC_WEBINY_CMS_PREVIEW_API_URL=https://d366rswf2s5l35.cloudfront.net/cms/preview
NEXT_PUBLIC_WEBINY_CMS_MANAGE_API_URL=https://d366rswf2s5l35.cloudfront.net/cms/manage

